body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }
  #title {
    text-align: center;
    margin-bottom: 50px;
  }

  #but {
    text-align: center;
  }
  form h1 {
    display: none;
    text-align: center;
    margin-top: 50px;
  }
  
  label {
    margin: 15px 0;
  }
  